.chat-section {
    background-color: $darkBlue;
    display: flex;
}

.users-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 33%;
    min-width: 250px;
    width: 300px;
    border-right: 1px solid $darkBlue;
}

.users-sidebar__main-search {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    
}

.main-search__input {
    height: 32px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: $blueGray;
    border: none;
}

.users-sidebar__main-users {
    height: 100%;
    width: 100%;
}

.chat-section__main {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
}

.main__users-amount {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90px;
    background-color: $blueGray;
    margin-bottom: 1px;
    justify-content: center;
    padding-left: 45px;
}

.main__chat {
    min-width: 100%;
    height: 100%;
    min-height: 680px;
}


.main__input-block {
    display: flex;
    min-width: 100%;
    background-color: $blueGray;
    min-height: 90px;
    margin-top: 1px;
    align-items: center;
    
}

.users-amount__title {
    margin: 0;
}

.users-amount__text {
    margin: 0;
}

.input-block__say {
    height: 32px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: $blueGray;
    border: none;
    width: 80%;
    outline-color: red;
    margin-right: 10px;
    color: white;
}

.input-block__sayBtn {
    height: 30px;
    border-radius: 7px;
    background-color: #5288C1;
    outline: none;
}

.hidden {
    display: none;
}

.main-users__user {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 15px;
}

.main-users__user-photo {
    width: 40px;
    height: 40px;
    background-image: url('../img/upload-photo/anonimnoe-lechenie-narkomanii.jpg');
    background-size: cover;
    margin-right: 15px;
    border-radius: 50%;
}

.message-item-header {
    display: flex;
}

.message-item-header-time {
    margin-left: 15px;
    color: #E14760;
}

.message-item-header-name {
    color: #D2E15D;
}

.user-list-photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(../img/upload-photo/anonimnoe-lechenie-narkomanii.jpg);
    background-size: cover;
}

.user-wrap {
    display: flex;
}