$GlobalFontSize: 18px;
$ContainerWidth: 940px;

//breakpoints

$tablets: 768px;
$phones: 480px;

$blueGray: #242F3D;
$darkBlue: #17212B;

@import "layout/normalize.scss";
@import "layout/base.scss";
@import "blocks/authorization.scss";
@import "blocks/main-chat.scss"


